body{background-color: rgb(5,0,60)}
body * {color: rgb(255,142,17); margin-left: 30vh; margin-right: 30vh; margin-top: 40px}
h1, h2, h3 {color: rgb(255,167,0)}
ul, a {margin-left: 0vh}
h4 {margin: 0px; align: center;
    border: 2px solid rgb(0,225,205); padding: 20px; width: 200px; border-top: 20px solid rgb(0,220,200);
    display: inline-block; overflow: hidden;
    }
