h1{color: lightblue; margin-left: 60px; margin-right: 40px; margin-top: 40px}
h2{color: lightblue; margin-left: 60px; margin-right: 40px; margin-top: 40px}
h3{color: lightblue; margin-left: 60px; margin-right: 40px; margin-top: 40px}
p{margin-left: 60px; margin-right: 40px}
ul{margin-left: 40px; margin-right: 40px}
