*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}

body *{
  display: inline-block;
  user-select: none;
}

body{
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: #27282b;
}

.centered{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.container{
  position: relative;  left: 50%;
  transform: translate(-50%,0%);
}

.navbar{
  position: absolute; top: 0px;
  width: 100vw; height: 110px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
}

.navmenu{
  position: relative;
  left: 50%; top:50%;
  transform: translate(-50%,-50%);
}

.navitem{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: #7e7e7e;
  margin: 15px; padding: 10px;
}

.selected{
  color: #2d2d2d;
}

#line-bottom{
  background-color: #ff8b00;
  height: 4px;
  position: absolute;
  top: 60px;
  transform: translate(0%,-50%);
  transition: all 0.5s;
}

.home{
  left: 15px;
  width: 85px;
}

.projects{
  left: 134px;
  width: 108px;
}

.photos{
  left: 275.5px;
  width: 96px;
}

.contacts{
  left: 405px;
  width: 116px;
}

.navbar .icon {
  display: none;
}

.navbarcol{
  width: 100vw; height: 150px;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  z-index: 600;
}

.navmenucol{
  width: 100vw; height: 550px;
  position: absolute;
  background-color: #4e4e4e;
  z-index: 300;
}

.navitemcol{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  margin-left: 50px; padding: 20px;
  display: block;
  color: #cfcfcf;
  transform: translate(0,90%);
}

.menu_buttoncol{
  position: absolute;
  top: 75px; left: 50px;
  width: 50px; height: 40px;
  z-index: 700;
}

.button0deg{
  transform: translate(0%,-50%) rotate(0deg);
  transition: all 1.5s;
}

.button180deg{
  transform: translate(0%,-50%) rotate(180deg);
  transition: all 1.5s;
}

.selectedcol{
  color: #ffffff;
}

.reveal{
  top:150px;
  transition: all 1.5s;
}

.hide{
  top:-400px;
  transition: all 1.5s;
}

.text{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

p{
  font-size: 1.3rem;
  font-weight: 400;
}

h1{
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
}

h2{
  font-size: 2rem;
}

a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  transition: all 0.5s;
}

a:hover{
  color: #454545;
}

#c1{
  top: 400px;
  width: 100vw;
}

#par1{
  width: 50vw;
}

#p1{
  top: 30px;
  width: 50vw;
  text-align: center;
}

#pol1{
  left: 0%; top:450px;
}

.polaroid{
  left: 50%;
  position: absolute;
  transition: all 2s;
  box-shadow: : 0 4px 8px 10px rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.focus{
  height: 972px; width: 800px;
  z-index: 1000;
  transform: rotate(0deg) translate(0,0)
}

.me1{
  transform: rotate(-1deg) translate(-100%,0);
}

.me2{
  z-index: 10;
  transform: rotate(-23deg) translate(-50%,0);
}

.me3{
  transform: rotate(18deg) translate(0%,5%);
}

.me1:hover{
  transform: rotate(-7deg) translate(-100%,3%);
}

.me2:hover{
  transform: rotate(-7deg) translate(-50%,5%);
}

.me3:hover{
  transform: rotate(-4deg) translate(0%,5%);
}

#polaroids{
  transform: translate(-50%,-25%);
}

.section2{
  position: relative;
  width: 100vw;
  top: 2000px;
}

#t2{
  position: absolute;
  top: 0%; left: 50%;
  transform: translate(-50%,0);
}

.work{
  display: block;
  position: relative;
  width: 1000px; height: 490px;
  left: 50%;
  transform: translate(-50%,0);
}

.sinistra{
  float: left;
}

.destra{
  float: right;
  text-align: right;
}

.sect{
  width: 500px;
}

.par{
  top: 20px;
}

.photo{
  width: 400px;
  transition: all 3.5s;
  transform-origin: top center;
}

#w1{
  top:300px
}

#w2{
  top:500px
}

#w3{
  top:700px
}

#w4{
  top:900px
}

#w5{
  top:1100px
}

#w6{
  top:1300px
}

#w7{
  top:1500px
}

#w8{
  top:1700px
}

#w9{
  top:1900px
}

#w10{
  top:2100px
}

.section3{
  position: relative;
  top: 3800px;
}

#t3{
  position: relative;
  top: 0%; left: 50%;
  transform: translate(-50%,0);
}

.carousel{
  position: relative;
  top: 50px;
  width: 100vw; height: 800px;
}

.image{
  width: 600px;
  position: absolute;
  z-index: 200;
}

.center{
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.left{
  animation: sotto_sx 2s;
  z-index: 0;
}

.img_box{
  width: 100vw;
  position: relative;
  top: 500px;
}

@keyframes sotto_sx {
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
    z-index: 400;
  }
  50%{
    transform: translate(-170%,-50%) rotate(10deg);
    z-index: 200;
  }
  100%{
    transform: translate(-50%,-50%) rotate(0deg);
    z-index: 0;
  }
}

.footer{
  display: block;
  position: relative;
  top: 5000px;
}

.bar{
  left: 0px;
  position: absolute;
  background-color: #ffffff;
  width: 100vw; height: 400px;
}

.contact{
  color:  #7e7e7e;
  top: 20%; left: 50%;
  transform: translate(-50%,-50%);
}

#mail{
  user-select: text;
  position: absolute;
  top: 150px; left: 50%;
}

#mail:hover{
 font-weight: 600;
}

.insta{
  position: absolute;
  top: 200px; left: 50%;
  transform: translate(-50%,0);
  width: 100px;
}

.insta:hover{
  transform: translate(-50%,0) scale(1.1);
}

@media screen and (max-width: 1100px) {
  .navbar{
    display: none;
  }
  .navmenu{
    display: none;
  }
  .navitem{
    display: none;
  }
  #line-bottom{
    display: none;
  }
  p{
    font-size: 2.5rem;
  }
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 3rem;
  }
  #c1{
    top: 250px;
    width: 100vw;
  }
  #pol1{
    top:200px;
  }
  .polaroid{
    height: 315.9px; width: 260px;
  }
  #polaroids{
    transform: translate(-50%,-32.5%) scale(0.6);
  }
  .sinistra{
    float: none;
  }
  .destra{
    float: none;
    text-align: left;
  }
  .section2{
    position: relative;
    width: 100vw;
    top: 1300px;
  }
  .work{
    position: relative;
    display: inline-table;
    width: 100vw;
  }
  .sect{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    display: block;
    position: relative;
    width: 70vw;
  }
  .photo{
    position: relative;
    left: 25vw;
    width: 50vw;
    top:60px;
  }
  .section3{
    top: 3200px;
  }
  .footer{
    display: block;
    position: relative;
    top: 4500px;
  }
  #mail{
    font-size: 1.5rem;
  }
  .insta{
    position: absolute;
    top: 200px; left: 50%;
    transform: translate(-50%,0);
    width: 100px;
  }
}

@media screen and (min-width: 1100px) {
  .navbarcol{
    display: none;
  }
  .navmenucol{
    display: none;
  }
  .navitemcol{
    display: none;
  }
  .menu_buttoncol{
    display: none;
  }
}

{border: 1px solid black;}
