*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0em;
  padding: 0em;
}

body{
  background-color: #071533;
  animation: bg_color 4s infinite;
  animation-timing-function: step-end;
}

.shape{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

#circle{
  transform: translate(-150px,-50%);
  height: 100px; width: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 20;
  animation: move 4s infinite;
  animation-timing-function: cubic-bezier(.74,.02,1,.62);
}


.container{
  height: 120px;
  background-color: #bac5cd;
  z-index: -100;
  }

#rectangle{
 width: 200px;
 z-index: 10;
}

.corner{
  width: 120px;
  border-radius: 50%;
}

#corner_left{
  transform: translate(-160px,-50%);
  }

#corner_right{
  transform: translate(40px,-50%);
}

#box{
  width: 320px; height: 320px;
  animation: rotation 4s infinite;
  animation-timing-function: linear;
  transform-origin: top left;
}

.text{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  text-transform: uppercase;
  color: #112552;
}

#on{
  top: 20%;
  animation: color_on 4s infinite;
  animation-timing-function: step-end;
}

#off{
  top: 80%;
  animation: color_off 4s infinite;
  animation-timing-function: step-end;
}

@keyframes rotation {
  0%{
    transform: rotate(0deg) translate(-50%,-50%);
  }

  22%{
    transform: rotate(45deg) translate(-50%,-50%);
  }

  28%{
    transform: rotate(45deg) translate(-50%,-50%);
  }

  50%{
    transform: rotate(0deg) translate(-50%,-50%);
  }
  72%{
    transform: rotate(-45deg) translate(-50%,-50%);
  }

  78%{
    transform: rotate(-45deg) translate(-50%,-50%);
  }

  100%{
    transform: rotate(0deg) translate(-50%,-50%);
  }

}

@keyframes move {
  0%{
    transform: translate(-150px,-50%);
  }

  24%{
    transform: translate(40px,-50%);
    width: 110px;
  }

  25%{
    transform: translate(65px,-50%);
    width: 80px;
  }

  26%{
    transform: translate(50px,-50%);
    width: 100px;
  }

  50%{
    transform: translate(50px,-50%);
  }

  74%{
    transform: translate(-150px,-50%);
    width: 110px;
  }

  75%{
    transform: translate(-135px,-50%);
    width: 80px;
  }

  76%{
    transform: translate(-150px,-50%);
    width: 100px;
  }

  100%{
    transform: translate(-150px,-50%);
  }

}

@keyframes color_on {
  0%{
    color: #ffffff;
  }

  24%{
    color: #112552;
  }

  74%{
    color: #ffffff;
  }

}

@keyframes color_off {
  0%{
    color: #112552;
  }

  24%{
    color: #ffffff;
  }

  74%{
    color: #112552;
  }

}
